/* Header y nav */
#header_principal{
    background: #1e272e;    
}
#header_principal nav{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: right;
}
#header_principal nav a{
    color: #fff;
    text-decoration: none;
    margin-right: 20px; 
}

#header_principal nav a:hover{
    color: #ffeaa7;
}
header div{
    width: 100%;
    height: 300px;
    background-image: url("../imgs/banner_casa.jpg");
    background-size: cover;
    background-position: center;
}